{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
            html, body {
                overflow: hidden;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }

            #renderCanvas {
                width: 100%;
                height: 100%;
                touch-action: none;
            }
        </style>
</head>
<body>
         <script src="{% static 'js/three.min.js' %}"></script>

		<script src="{% static 'js/libs/inflate.min.js' %}"></script>
		<script src="{% static 'js/loaders/FBXLoader.js' %}"></script>
		<script src="{% static 'js/loaders/TGALoader.js' %}"></script>
		<script src="{% static 'js/controls/OrbitControls.js' %}"></script>

		<script src="{% static 'js/Detector.js' %}"></script>
		
    <script>
		if ( ! Detector.webgl ) 
		       Detector.addGetWebGLMessage();
			console.log("-------test");
			var container, stats, controls;
			var camera, scene, renderer, light;

			var clock = new THREE.Clock();

			var mixers = [];
			//learning
			var myFunc = function(msg){
					alert(msg);
			};
			//myFunc("xxxxxx---");
			var fibo = function fibonacci(msg) {
			    // you can use "fibonacci()" here as this funciton expression has a name.
				alert(msg);
				//fibonacci("kkkkkkk");
			};
			//fibo("xxxxxxxx");
			//end learning"
			init();
			animate();
			
			function init() {
				
				container = document.createElement( 'div' );
				document.body.appendChild( container );

				camera = new THREE.PerspectiveCamera( 60, window.innerWidth / window.innerHeight, 1,2000 );
				camera.position.set( 100, 200, 300 );
  			    
				
				camera.position.z = 600;
			    camera.position.y = 650;
				camera.position.x = -100;
				
				controls = new THREE.OrbitControls( camera );
				controls.target.set( 0, 100, 0 );
				controls.update();

				scene = new THREE.Scene();
				scene.background = new THREE.Color( 0xa0a0a0 );
				//scene.fog = new THREE.Fog( 0xa0a0a0, 800, 2000 );

				light = new THREE.HemisphereLight( 0xffffff, 0x444444 );
				light.position.set( 0, 200, 0 );
				scene.add( light );

				light = new THREE.DirectionalLight( 0xffffff );
				light.position.set( 0, 200, 100 );
				light.castShadow = true;
				light.shadow.camera.top = 180;
				light.shadow.camera.bottom = -100;
				light.shadow.camera.left = -120;
				light.shadow.camera.right = 120;
				scene.add( light );

				// scene.add( new THREE.CameraHelper( light.shadow.camera ) );

				// ground
				var mesh = new THREE.Mesh( new THREE.PlaneBufferGeometry( 2000, 2000 ), new THREE.MeshPhongMaterial( { color: 0x999999, depthWrite: false } ) );
				mesh.rotation.x = - Math.PI / 2;
				mesh.receiveShadow = true;
				scene.add( mesh );

				var grid = new THREE.GridHelper( 2000, 20, 0x000000, 0x000000 );
				grid.material.opacity = 0.2;
				grid.material.transparent = true;
				scene.add( grid );

				// model
				var loader = new THREE.FBXLoader();
				
				/*loader.load( 'models/fbx/Samba Dancing.fbx', function ( object ) {
					object.mixer = new THREE.AnimationMixer( object );
					mixers.push( object.mixer );

					var action = object.mixer.clipAction( object.animations[ 0] );
					//alert("Hello, World! = "+object.animations.length);
					//action.play();
					//object.position.y = 1000;
					console.log("---x = "+object.position.y);
					object.traverse( function ( child ) {

						if ( child.isMesh ) {

							child.castShadow = true;
							child.receiveShadow = true;

						}

					} );

					scene.add( object );

				} );*/

				
				loader.load( "{% static 'images/models/fbx/emp_1F.fbx' %}", function ( object ) {
					object.mixer = new THREE.AnimationMixer( object );
					mixers.push( object.mixer );

					var action = object.mixer.clipAction( object.animations[ 0] );
					//alert("Hello, World! = "+object.animations.length);
					action.play();

					object.traverse( function ( child ) {

						if ( child.isMesh ) {

							child.castShadow = true;
							child.receiveShadow = true;

						}

					} );

					scene.add( object );

				} );
				
				renderer = new THREE.WebGLRenderer( { antialias: true } );
				renderer.setPixelRatio( window.devicePixelRatio );
				renderer.setSize( window.innerWidth, window.innerHeight );
				renderer.shadowMap.enabled = true;
				container.appendChild( renderer.domElement );

				window.addEventListener( 'resize', onWindowResize, false );

				// stats
				
				//container.appendChild( stats.dom );

			}

			function onWindowResize() {

				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();

				renderer.setSize( window.innerWidth, window.innerHeight );

			}

			//

			function animate() {

				requestAnimationFrame( animate );

				if ( mixers.length > 0 ) {

					for ( var i = 0; i < mixers.length; i ++ ) {

						mixers[ i ].update( clock.getDelta() );

					}

				}

				renderer.render( scene, camera );

				

			}

    </script>
</body>
</html>