<!-- howdy/templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Howdy!</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">		
			
    </head>
    <body>
        {% load static %}
        <img src="{% static "images/Logo.jpg" %}" alt="My image">
        <h1>Events with python and Django</h1>
     <a href="about/">About Me</a>
    </body>
</html>