{% load static %}<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <title>WebSockets - Simple chat</title>
    <style>
    * { font-family:tahoma; font-size:12px; padding:0px;margin:0px;}
    p { line-height:18px; }
    div { width:500px; margin-left:auto; margin-right:auto;}
    #content { padding:5px; background:#ddd; border-radius:5px;
        overflow-y: scroll; border:1px solid #CCC;
        margin-top:10px; height: 260px; }
    #input { border-radius:2px; border:1px solid #ccc;display:'none';
        margin-top:10px; padding:5px; width:290px;
    }
    #status { width:88px;display:block;float:left;margin-top:15px; }
    
  </style>
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
      <div class="container">     
            <div id="content"></div>
            <div>
              <span id="status">Connecting...</span>
              <input type="text" id="input" disabled="disabled" />
            </div>
            <!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
            </script>
            <!--script src="./chat-client.js"></script-->
          <script type="text/javascript">

             $(function () {
                
              //var json = JSON.parse("{{ someDjangoVariable|escapejs }}");
              var json = "{{ someDjangoVariable|escapejs }}"
              console.log("json = "+json);
              "use strict";
              // for better performance - to avoid searching in DOM
              var content = $('#content');
              var input = $('#input');
              var status = $('#status');
              
              // my color assigned by the server
              var myColor = false;
              // my name sent to the server
              var myName = false;

              var vWidth = 5,vHeight = 5;
              //var vWidth = 1280,vHeight = 720;
                
              // if user is running mozilla then use it's built-in WebSocket
              window.WebSocket = window.WebSocket || window.MozWebSocket;
              // if browser doesn't support WebSocket, just show
              // some notification and exit
               
              function handleReceive(message) {
                console.log("binaryType");
                //var data = JSON.parse(message.data)
               
                //var bytes = new Uint8Array(message.data);
                //console.log(JSON.stringify(message.data));
                //var c  = document.getElementById('resultcanvas');
                //var c  = new Canvas();
                var c  =  document.createElement('canvas');
                c.width = vWidth;
                c.height = vHeight;
                var ctx = c.getContext('2d');


                var imageData = ctx.createImageData(c.width, c.height);
                var pixels = imageData.data;
                var buffer = new Uint8Array(message.data);
                for (var i=0; i < pixels.length; i++) {
                  pixels[i] = buffer[i];
                }
                ctx.putImageData(imageData,0,0);
                content.prepend(c);
              }
              
              if (!window.WebSocket) {
                content.html($('<p>',
                  { text:'Sorry, but your browser doesn\'t support WebSocket.'}
                ));
                input.hide();
                $('span').hide();
                return;
              }
              // open connection
              var connection = new WebSocket('ws://127.0.0.1:1337');
              connection.binaryType = 'arraybuffer';
              connection.onopen = function () {
                // first we want users to enter their names
                input.removeAttr('eabled');
                input.hide();
                status.text('TV');
              };
              connection.onerror = function (error) {
                // just in there were some problems with connection...
                content.html($('<p>', {
                  text: 'Sorry, but there\'s some problem with your '
                     + 'connection or the server is down.'
                }));
              };
              // most important part - incoming messages
              connection.onmessage = function (message) {
                // try to parse JSON message. Because we know that the server
                // always returns JSON this should work without any problem but
                // we should make sure that the massage is not chunked or
                // otherwise damaged.

                try {
                  var json = JSON.parse(message.data);
                  //console.log("json = "+JSON.stringify(json));
                } catch (e) {
            
                  handleReceive(message);
                  return;
                }

                // NOTE: if you're not sure about the JSON structure
                // check the server source code above
                // first response from the server with user's color
                if (json.type === 'color') {
                  console.log("color");
                  myColor = json.data;
                  status.text(myName + ': ').css('color', myColor);
                  input.removeAttr('disabled').focus();
                  // from now user can start sending messages
                } else if (json.type === 'history') { // entire message history
                  // insert every single message to the chat window
                  console.log("history = "+JSON.stringify(json));

                  for (var i=0; i < json.data.length; i++) {
                      if(json.data[i].type==='Buffer'){
                        handleReceive(json.data[i]);
                      }else{
                        addMessage(json.data[i].author, json.data[i].text,
                          json.data[i].color, new Date(json.data[i].time),json.data[i].content);
                      }
                  }
                } else if (json.type === 'message') { // it's a single message
                  // let the user write another message

                  input.removeAttr('disabled');
                  addMessage(json.data.author, json.data.text,
                             json.data.color, new Date(json.data.time),json.data.content);
                } else {
                  console.log('Hmm..., I\'ve never seen JSON like this:', json);
                }
              };
              /**
               * Send message when user presses Enter key
               */
              
              /**
               * This method is optional. If the server wasn't able to
               * respond to the in 3 seconds then show some error message
               * to notify the user that something is wrong.
               */
              setInterval(function() {
                if (connection.readyState !== 1) {
                  console.log("connection.readyState = "+connection.readyState);
                  status.text('Error');
                  input.attr('disabled', 'disabled').val(
                      'Unable to communicate with the WebSocket server.');
                }
              }, 30000);
              /**
               * Add message to the chat window
               */
              function addMessage(author, message, color, dt,type) {
                if(type==="text"){
                  content.prepend('<p><span style="color:' + color + '">'
                    + author + '</span> @ ' + (dt.getHours() < 10 ? '0'
                    + dt.getHours() : dt.getHours()) + ':'
                    + (dt.getMinutes() < 10
                      ? '0' + dt.getMinutes() : dt.getMinutes())
                    + ': ' + message + '</p>');
                }else if(type==="image"){
                  var image = new Image();
                  image.src = message;
                  content.prepend(image)

                  content.prepend('<p><span style="color:' + color + '">'
                        + author + '</span> @ ' + (dt.getHours() < 10 ? '0'
                        + dt.getHours() : dt.getHours()) + ':'
                        + (dt.getMinutes() < 10
                          ? '0' + dt.getMinutes() : dt.getMinutes())
                        + ':</p>');
                }
              }

            });
          </script>
      </div>
  </body>
</html>